* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

/* 1st task */

.cs-wrapper {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cs-btn {
  min-width: 120px;
  padding: 18px 10px;
  text-transform: uppercase;
}

/* 2nd task */

.timer {
  display: flex;
  gap: 16px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 36px;
}

.label {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
